.task {
  display: block;
  background-color: #ffffff;
  padding: 0.5em 1em;
  margin: 1.5em 0;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.356);
  color: rgb(14, 14, 14);
  width: 400px;
}
